/* General */
    /* fonts */
    @font-face {
        font-family: 'Dancing Script';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/dancingscript/v15/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Sup8.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

body {
    background:#ecded3 url(images/bg.jpg) no-repeat fixed;
    margin: 0;
}
a {
    text-decoration: none;
}
/* Grid */
.grid-container {
    display: grid;
    grid-template-areas: 
        'header  header header '
        'nav  nav nav '
        'left  right right '
        'left main main'
        'left  main main '
        'footer  footer footer ';
    grid-gap: 10px;
    width: auto;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}

.grid-container > div, header, nav, section,  aside.left, aside.right, footer {
    text-align: center;
    padding:0;
    border-radius: 5px;
}

.nav, .left, .section{
    background-color: #bec2d3;
    opacity: 0.8;
}

.footer {
    background-color: #bec2d3;
    opacity: 0.8;
}

/* Flex */
.flex-container {
    display: flex;
    padding: 0;
    margin: 0;
}
ul.flex-container {
    justify-content: center;
}
nav ul a li {
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

nav ul a:hover li {
    color: white;
}

nav ul a {
    margin: 0 10px;
    text-decoration: none;
    color: #20257e;
    font-size: 18px;
}



/* header */
.header { 
    grid-area: header; 
    background-color: none;
    padding: 20px 0;
}
.header h1#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #fff;
    margin: 0;
}

/* Navigation */
.nav { 
    grid-area: nav; 
    margin-bottom: 10px;
}

/* left section */
.left { 
    grid-area: left;
    overflow: hidden;
    width: 250px;
}

.left .flex-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.left article {
    background-color: #dbdfef;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    height: 80px;
}
.left article span {
    display: block;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 80px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    margin-right: 5px;
}
.left article p {
    text-align: left;
    margin: 0;
    color: black;
}

.left article h5 {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 2px 0;
    text-align: left;
    width: auto;
}

.right { 
    grid-area: right;
    padding: 10px;
    background: url(images/bg2.jpg) center no-repeat;
    background-size: cover;
    height: 200px;
}
.right figcaption{
    display: block;
    font-family: 'Dancing Script', cursive;
    color: #20257e;
    font-size: 30px;
    height: auto;
    margin: 100px 0 0 0;
    color: #fff;
}

/* Main Content */
.section { 
    grid-area: main; 
    margin: 0;
    padding: 5px;
    font-family: sans-serif;
}
.section h1 {
    display: block;
    width: 100%;
    color: #20257e;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid white;
}

.section article {
    border: 1px solid #a6a8b4;
    background-color: #dbdfef;
    width: 550px;
    text-align: left;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
}

.section article h3 {
    color: #20257e;
    font-size: 24px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
}

.section article span {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 10px 0;
}

.footer { 
    grid-area: footer; 
}